body, h1, h2, h3, p {
    margin: 3px;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.links {
    display: flex;
    justify-content: center;
}
.links a {
    color: #ccc;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.user-info {
    text-align: right;
    margin-right: 30px;
}

.user-action {
    color: #ccc;
    text-decoration: none;
    margin-right: 1px;
    margin-left: 1px;
}
.user-info a {
    color: gold;
    text-decoration: none;
}
.separator {
    margin: 0 5px;
    color: #ccc;
}

footer {
    background-color: #333;
    color: #ccc;
    text-align: center;
    border: #000 solid 1px;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
body {
    background-color: #222;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 80%;
    margin: 50px auto 50px;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.image-list {
    margin-top: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-box {
    width: 150px;
    margin: 10px;
    text-align: center;
    padding: 15px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.image-box img {
    width: 100%;
    height: auto;
}

.image-list h2,
.image-box h3 {
    color: #ccc;
}

.image-box a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.image-box a:hover {
    color: #ff9800;
}


.image-layout {
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-section {
    flex: 1;
}

.image {
    height: 100%;
    width: 90%;
    object-fit: fill;
}

.info-comment-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
}

.info-section {
    color: #ccc;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.info-section h2 {
    margin-top: 0;
}
.info-section a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.info-section a:hover {
    color: #ff9800;
}

.image-layout h2 {
    margin-top: 0;
}

.comment-section {
    padding: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.comment-section a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.comment-section a:hover {
    color: #ff9800;
}

.comment-box {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
    border: 1px solid #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.comment-form p{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
    border: 1px solid #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.comment-form input,
.info-section input {
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background: #d4a006;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.comment-form input:hover,
.info-section input:hover {
    background: #bf7f00;
}

.comment-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-date {
    color: aquamarine;
}

.comment-user i {
    color: gold;
}

.comment-text {
    color: aliceblue;
    word-wrap: break-word;
}
.return-link {
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background: #d4a006;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.return-link:hover {
    background: #bf7f00;
}

.image-box-custom {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-box-custom img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section {
    flex: 1;
    width: 65% !important;
    display: flex;
    flex-direction: column;
}

.upper-left {
    margin-bottom: 2px;
}

.right-section {
    flex: 1;
    width: 35% !important;
    padding-left: 20px;
}

.lower-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form {
    width: 400px;
    list-style: none;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.form li {
    margin-bottom: 10px;
}


.form input[type="text"],
.form textarea,
.form input[type="password"],
.form input[type="email"],
.form select {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form textarea:focus,
.form input[type="email"]:focus,
.form select:focus {
    outline: none;
    border-color: #ffc107;
}

.form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
}

.form input[type="submit"]
{
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background: #d4a006;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.form input[type="submit"]:hover {
    background: #bf7f00;
}


.form input[type="file"] {
    text-decoration: none;
    background: #d4a006;
    border-radius: 5px;
    color: black;
}

.create-group {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.main-container2 {
    display: flex;
    justify-content: space-between;
}

.create-group {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.group-list {
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sorting-buttons button {
    flex: 1;
    margin-right: 10px;
}

.group-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.group-list ul li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 20px;
}

.group-items {
    flex-wrap: wrap;
}

.user-name-button {
    width: 20%;
    margin: 10px;
    text-align: center;
    padding: 15px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.user-name-button a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.admin {
    background-color: #af6700;
}
