<div class="logo links">
    <a href="{% url 'start' %}">
    ArtMineX</a>
</div>
<div class="links">
    <a href="{% url 'gallery' %}">GALLERY</a>
    <a href="{% url 'groups' %}">GROUPS</a>
    <a href="#">USERS</a>

</div>
<div class="user-info">
    {% if user.is_authenticated %}
        <span>Welcome, <a class="user-action" href="{% url 'profile' user %}">{{ user }}</a>!</span>
        <span class="separator">|</span>
        <a class="user-action" href="{% url 'add-image' %}?next={% url 'profile' user %}">add image</a>
        <span class="separator">|</span>
        <a class="user-action" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="user-action" href="{% url 'login' %}">Zaloguj</a>
        <span class="separator">|</span>
        <a class="user-action" href="{% url 'add-user' %}">Zarejestruj</a>
    {% endif %}
</div>